doctype html
html(lang='en', xmlns="http://www.w3.org/1999/xhtml", prefix="og: http://ogp.me/ns#")
	head
		include analytics.pug
		title Anton Bergåker
		meta(name='description', content='Personal website for Anton Bergåker outlining projects and other fun stuff')
		meta(name='keywords', content='programming, programmer, gamedev, gamedevelopment, game, gamemaker')
		include tags.pug
		include ogtags.pug
		meta(property="og:description" content="Personal website for Anton Bergåker outlining projects and other fun stuff")
		style
			include css/main.css
	body
		include header.pug
		#container

			mixin Tag(name, color)
				- 
					let colors = {
						gamemaker: {name: 'GameMaker', color:'#1CA972'},
						steam: {name: 'Steam', color: '#0A1C49'},
						nintendo_switch: { name: 'Nintendo Switch', color: '#DE000F'},
						xbox_one: { name: 'Xbox One', color: '#0F760F'},
						play_in_browser: {name: 'Play in Browser', color: '#F89A1B'},
						csharp: {name: 'C#', color: '#953DAC'},
						typescript: {name: 'TypeScript', color: '#2B7489'},
						android: {name: 'Android', color: '#228B22'},
						ios: {name: 'iOS', color: '#147EFB'},
						contract_work: {name: 'Contract Work', color: '#A10707'},
						html5: {name: 'HTML5', color: '#E34C26'},
						nodejs: {name: 'Node.js', color: '#669F64'},
						game_jam: {name: 'Game Jam', color: '#A45EE5'},
						blog_post: {name: 'Blog Post', color: '#296D98'},
						extension: {name: 'Extension', color: '#FB422D'}
					};
				if color
					li(style='background-color: ' + color)=name
				else if colors[name]
					li(style='background-color: ' + colors[name].color)=colors[name].name
				else 
					li=name
					
			.scroll_section
				h2 Projects
				.scroller

					mixin ScrollCard(name, href, image)
						a.scroll_card(href=href)
							.image-container
								img(src=image, alt=name+' Banner')
							ul.tags
								block
							h3= name

					+ScrollCard('The Story Goes On', '/thestorygoeson', 'images/tsgo_banner.png')
						+Tag('gamemaker')
						+Tag('steam')
						+Tag('nintendo_switch')
						+Tag('xbox_one')

					+ScrollCard('Pentapop', '/pentapop', 'images/pentapop_banner.png')
						+Tag('play_in_browser')
						+Tag('gamemaker')
						+Tag('csharp')
						+Tag('typescript')
						+Tag('android')
						+Tag('ios')
					
					+ScrollCard('miniSweeper', '/minisweeper', 'images/minisweeper_banner.png')
						+Tag('play_in_browser')
						+Tag('gamemaker')
						+Tag('android')
						+Tag('ios')

					+ScrollCard('Don\'t Sink - Xbox Port', 'https://store.steampowered.com/app/710610/Dont_Sink/', 'images/dont_sink_banner.png')
						+Tag('gamemaker')
						+Tag('contract_work')
						+Tag('xbox_one')

					+ScrollCard('BunBundle', 'https://github.com/AntonBergaker/BunBundle', 'images/bunbundle_banner.png')
						+Tag('csharp')

					
			.scroll_section
				h2 Other things
				.scroller

					mixin ScrollCardSmol(name, href, image, image_text)
						a.scroll_card.scroll_card_smol(href=href)
							.image-container
								img(src=image, alt=name+' Banner')
							ul.tags
								block
							if image_text 
								.image_text= image_text
							h3= name
					
					+ScrollCardSmol('Evil Hangman', '/hangman', 'images/evil_hangman.png')
						+Tag('play_in_browser')
						+Tag('typescript')
						+Tag('html5')

					+ScrollCardSmol('Honk Network', '/honknetwork/', 'images/honk_network.png')
						+Tag('play_in_browser')
						+Tag('nodejs')
						+Tag('typescript')
						+Tag('html5')

					+ScrollCardSmol('Rover Wars', '/rover_wars/', 'images/rover_wars.png')
						+Tag('play_in_browser')
						+Tag('gamemaker')
						+Tag('game_jam')

					+ScrollCardSmol('Xtreme Xplosive Fishing', '/xtreme_xplosive_fishing/', 'images/xtreme_xplosive_fishing.png')
						+Tag('play_in_browser')
						+Tag('gamemaker')
						+Tag('game_jam')

					+ScrollCardSmol('Vibus', '/vibus/', 'images/vibus.png')
						+Tag('play_in_browser')
						+Tag('gamemaker')
						+Tag('game_jam')

					+ScrollCardSmol('there\'s something in the dark', '/theres_something_in_the_dark', 'images/tsitd.png')
						+Tag('play_in_browser')
						+Tag('gamemaker')
						+Tag('game_jam')

					+ScrollCardSmol('Caffeine King', '/caffeineking/', 'images/caffeine_king.png')
						+Tag('play_in_browser')
						+Tag('gamemaker')
						+Tag('game_jam')

					+ScrollCardSmol('Implementing Co-op into The Story Goes On', 'http://blog.tsgogame.com/implementing-coop/', 'images/coop_banner.png', 'Implementing Co-op into The Story Goes On')
						+Tag('blog_post')
						+Tag('gamemaker')

					+ScrollCardSmol('Authentic Native Textbox', 'https://marketplace.yoyogames.com/assets/8620/android-native-textbox', 'images/ant.png')
						+Tag('gamemaker')
						+Tag('extension')
						+Tag('android')
						+Tag('ios')

					+ScrollCardSmol('Minesweeper Discord Bot', 'https://github.com/AntonBergaker/MinesweeperDiscordBot', 'images/minesweeper_discord_bot.png')
						+Tag('csharp')

					+ScrollCardSmol('Small Pentapop Localization Tool', 'https://github.com/AntonBergaker/small_pp_localization_tool', 'images/small_pp.png')
						+Tag('csharp')
						+Tag('gamemaker')

					+ScrollCardSmol('Personal video and image host', 'https://github.com/AntonBergaker/img.bergaker.com', 'images/image_host.png')
						+Tag('typescript')

					+ScrollCardSmol('anton.bergaker.com', 'https://github.com/AntonBergaker/anton.bergaker.com', 'images/anton_bergaker_com.png')
						+Tag('html5')

					+ScrollCardSmol('Decimal Time', '/decimaltime/', 'images/decimal_time.png')
						+Tag('blog_post')
						+Tag('html5')

					+ScrollCardSmol('SplitTask', 'https://github.com/AntonBergaker/SplitTask', 'images/splittask_banner.png')
						+Tag('csharp')

		script
			include js/main.js
