doctype html
html(lang='en')
	head
		include analytics.pug
		title Anton Bergåker
		meta(name='description', content='Personal website for Anton Bergåker outlining projects and other fun stuff')
		meta(name='keywords', content='programming, programmer, gamedev, gamedevelopment, game, gamemaker')
		include tags.pug
		include ogtags.pug
		meta(property="og:description" content="Personal website for Anton Bergåker outlining projects and other fun stuff")
		style
			include css/main.css
	body
		include header.pug
		#container
			.scroll_section
				h2 Projects
				.scroller

					mixin scroll-card(name, href, image)
						a(class='scroll_card' href=href)
							.image-container
								img(src=image, alt=name+' Banner')
							ul(class='tags')
								block
							h3= name

					+scroll-card('The Story Goes On', '/thestorygoeson', 'images/tsgo_banner.png')
						li(style='background-color: #1CA972') GameMaker
						li(style='background-color: #0A1C49') Steam
						li(style='background-color: #DE000F') Nintendo Switch
						li(style='background-color: #0F760F') Xbox One

					+scroll-card('Pentapop', '/pentapop', 'images/pentapop_banner.png')
						li(style='background-color: #F89A1B') Play in browser
						li(style='background-color: #1CA972') GameMaker
						li(style='background-color: #953DAC') C#
						li(style='background-color: #2B7489') TypeScript
						li(style='background-color: #228B22') Android
						li(style='background-color: #147EFB') iOS
					
					+scroll-card('miniSweeper', '/minisweeper', 'images/minisweeper_banner.png')
						li(style='background-color: #F89A1B') Play in browser
						li(style='background-color: #1CA972') GameMaker
						li(style='background-color: #228B22') Android
						li(style='background-color: #147EFB') iOS

					+scroll-card('Don\'t Sink - Xbox Port', 'https://store.steampowered.com/app/710610/Dont_Sink/', 'images/dont_sink_banner.png')
						li(style='background-color: #1CA972') GameMaker
						li(style='background-color: #A10707') Contract Work
						li(style='background-color: #0F760F') Xbox One

					+scroll-card('BunBundle', 'https://github.com/AntonBergaker/BunBundle', 'images/bunbundle_banner.png')
						li(style='background-color: #953DAC') C#

					
			.scroll_section
				h2 Other things
				.scroller

					mixin scroll-card-smol(name, href, image, image_text)
						a(class='scroll_card scroll_card_smol' href=href)
							.image-container
								img(src=image, alt=name+' Banner')
							ul(class='tags')
								block
							if image_text 
								.image_text= image_text
							h3= name
					
					+scroll-card-smol('Evil Hangman', '/hangman', 'images/evil_hangman.png')
						li(style='background-color: #F89A1B') Play in Browser
						li(style='background-color: #2B7489') TypeScript
						li(style='background-color: #E34C26') HTML5

					+scroll-card-smol('Honk Network', '/honknetwork/', 'images/honk_network.png')
						li(style='background-color: #F89A1B') Play in Browser
						li(style='background-color: #669F64') Node.js
						li(style='background-color: #2B7489') TypeScript
						li(style='background-color: #E34C26') HTML5

					+scroll-card-smol('Rover Wars', '/rover_wars/', 'images/rover_wars.png')
						li(style='background-color: #F89A1B') Play in Browser
						li(style='background-color: #1CA972') GameMaker
						li(style='background-color: #A45EE5') Game Jam

					+scroll-card-smol('Vibus', '/vibus/', 'images/vibus.png')
						li(style='background-color: #F89A1B') Play in Browser
						li(style='background-color: #1CA972') GameMaker
						li(style='background-color: #A45EE5') Game Jam

					+scroll-card-smol('there\'s something in the dark', '/theres_something_in_the_dark', 'images/tsitd.png')
						li(style='background-color: #F89A1B') Play in Browser
						li(style='background-color: #1CA972') GameMaker
						li(style='background-color: #A45EE5') Game Jam

					+scroll-card-smol('Caffeine King', '/caffeineking/', 'images/caffeine_king.png')
						li(style='background-color: #F89A1B') Play in Browser
						li(style='background-color: #1CA972') GameMaker
						li(style='background-color: #A45EE5') Game Jam

					+scroll-card-smol('Implementing Co-op into The Story Goes On', 'http://blog.tsgogame.com/implementing-coop/', 'images/coop_banner.png', 'Implementing Co-op into The Story Goes On')
						li(style='background-color: #296D98') Blog Post
						li(style='background-color: #1CA972') GameMaker

					+scroll-card-smol('Authentic Native Textbox', 'https://marketplace.yoyogames.com/assets/8620/android-native-textbox', 'images/ant.png')
						li(style='background-color: #1CA972') GameMaker
						li(style='background-color: #FB422D') Extension
						li(style='background-color: #228B22') Android
						li(style='background-color: #147EFB') iOS

					+scroll-card-smol('Minesweeper Discord Bot', 'https://github.com/AntonBergaker/MinesweeperDiscordBot', 'images/minesweeper_discord_bot.png')
						li(style='background-color: #953DAC') C#

					+scroll-card-smol('Small Pentapop Localization Tool', 'https://github.com/AntonBergaker/small_pp_localization_tool', 'images/small_pp.png')
						li(style='background-color: #953DAC') C#
						li(style='background-color: #1CA972') GameMaker

					+scroll-card-smol('Personal video and image host', 'https://github.com/AntonBergaker/img.bergaker.com', 'images/image_host.png')
						li(style='background-color: #2B7489') TypeScript

					+scroll-card-smol('anton.bergaker.com', 'https://github.com/AntonBergaker/anton.bergaker.com', 'images/anton_bergaker_com.png')
						li(style='background-color: #E34C26') HTML5

					+scroll-card-smol('Decimal Time', '/decimaltime/', 'images/decimal_time.png')
						li(style='background-color: #296D98') "Blog Post"
						li(style='background-color: #E34C26') HTML5

					+scroll-card-smol('SplitTask', 'https://github.com/AntonBergaker/SplitTask', 'images/splittask_banner.png')
						li(style='background-color: #953DAC') C#

		script
			include js/main.js
