---
import { Image } from "astro:assets";
import {
    scrollCard,
    imageContainer,
    tags,
    imageContent,
} from "./scroll_card.module.scss";

export type ScrollCardProps = {
    title: string;
    link: string;
    image: string;
};

type Props = ScrollCardProps;
const props = Astro.props;
const imagePath = props.image;
const images = import.meta.glob<{ default: ImageMetadata }>("../**/*.png");
if (!images[imagePath])
    throw new Error(
        `"${imagePath}" does not exist in glob: ${Object.keys(images)}`,
    );
---

<a class={scrollCard} href={props.link}>
    <div class={imageContainer}>
        <Image
            class={imageContent}
            src={images[imagePath]()}
            width={940}
            height={529}
            alt={props.title + " Banner"}
        />
    </div>
    <ul class={tags}><slot /></ul>
    <h3>{props.title}</h3>
</a>
