---
import ProjectPageLayout from "../../components/layouts/project_page.astro";
import Tags from "../../components/tags.astro";
import {
    centeredTimers,
    converterContainer,
    dateConverterPicker,
    timer,
    timerHeader,
} from "./index.module.scss";
---

<Tags
    title='Decimal Time'
    description='Get the current decimal time and convert between it and the less efficient representation'
    keywords={[
        "programming",
        "programmer",
        "decimaltime",
        "decimal",
        "time",
        "date",
        "picker",
    ]}
/>
<ProjectPageLayout>
    <div class={centeredTimers}>
        <h2 class={timerHeader}>Live Decimal Time</h2>
        <h2 id='timeDisplay' class={timer}></h2>

        <h2 class={timerHeader}>Live Decimal Date</h2>
        <h2 id='dateDisplay' class={timer}></h2>

        <h2 class={timerHeader}>Convert Dates</h2>
        <div>
            <div class={converterContainer}>
                <p>Nonsense date</p>
                <input
                    id='dateConverterPicker'
                    class={dateConverterPicker}
                    type='datetime-local'
                />
            </div>
            <div class={converterContainer}>
                <p>Decimal date</p>
                <input id='dateConverterInput' />
            </div>
        </div>
    </div>

    <div>
        <h2>About</h2>
        <p>
            If you're like me, you've probably also struggled to learn to tell
            the time at some point in your life. A bunch of arbitrary divisions
            that make absolutely no sense. When does the AM/PM go? When does it
            reset, on 12 or after? Why are they divided into 12ths and 60ths?
            Madness!
        </p>
        <p>
            Can we really make fun of the janks for their inches in a stone in a
            footlong when we also use a system with weird divisions? That is as
            much as 10 football fields worth of conversions.
        </p>
        <p>We cannot. We need to adapt.</p>
        <p>
            Decimal time solves all this and more! The day is represented by a
            single number, going from 0 to 1. You can be as precise as you wish,
            by simply adding or removing decimals. It's also more compact,
            because no number has a boundary at 12 or 60.
        </p>
        <p>
            It's possible to use decimal time with time zones, and this website 
            will use your local time zone. Abolishing time zones is an equally 
            valid but separate discussion.
        </p>
    </div>

    <script src='./decimal.ts'/>
</ProjectPageLayout>
